page-home {
  ion-card-content {
  img#abogado{
   max-width: 50vw;
   background: cyan; 
 }}
  ion-content{
    @extend .background-pattern

  }
  .social-links {
    img {
      height: 50px;
      width: 50px;
    }
  }
}
